<!DOCTYPE html>
<html>
<head>
	<title>Sing up</title>
</head>
<body>

	       <form action="/user/signup" method="post">
            <label>Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
            <small class="form-text text-muted">Your name?</small>
            <label>User Name</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Enter User Name">
            <small class="form-text text-muted">Give me your best user name!</small>
            <label>Email</label>
            <input type="text" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
            <small class="form-text text-muted">Your Email?</small>
            <label>Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputEmail1" placeholder="Enter Password">
            <small class="form-text text-muted">Your Password?</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

</body>
</html>